---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Unional Blog.">
  <main>
    <h1>Welcome to the <span class="text-gradient">Unional Blog</span></h1>
    <p class="instructions">
      Sharing my <strong>2.3498272</strong> cents on software engineering.
    </p>
    <ul role="list" class="link-card-grid">
      <Card href="/architecture" title="Architecture" body="Why should you care?" />
      <Card
        href="https://unional.github.io/typescript-guidelines"
        title="TypeScript"
        body="Using TypeScript efficiently."
      />
      <Card href="/open-source" title="Projects" body="Useful things" />
      <Card href="/random-thoughts" title="Random Thoughts" body="🤔" />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
